/* Step 1

        $text-color: red;
        
        .header{
            text-align: center;
        }

        .blog-post, h2 {
            color: $text-color;
        }

*/
/* ------------------------------------- */
/* Step 2

        .blog-post {
                h1 {
                    text-align: center;
                    color: blue;
                }
                p {
                    font-size: 20px;
                }
        }

*/
/* ------------------------------------- */
/* Step 3

        @mixin shape($w, $h, $bg-color) {
        width: $w;
        height: $h;
        background-color: $bg-color;
        }

        #square {
        @include shape(50px, 50px, red);
        }

        #rect-a {
        @include shape(100px, 50px, blue);
        }

        #rect-b {
        @include shape(50px, 100px, orange);
        }

*/
/* ------------------------------------- */
/* Step 4

        @mixin border-stroke($val) {
            @if $val == light {
            border: 1px solid black;
            } @else if $val == medium {
            border: 3px solid black;
            } @else if $val == heavy {
            border: 6px solid black;
            } @else {
            border: none;
            }
        }

        #box {
            width: 150px;
            height: 150px;
            background-color: red;
            @include border-stroke(medium);
        }

        */
/* ------------------------------------- */
/* Step 5 

            @for $i from 1 through 5 {
                .text-#{$i} {
                font-size: 15px * $i;
                }
            }

*/
/* ------------------------------------- */
/* Step 6 

            @each $color in blue, black, red {
                .#{$color}-bg {
                background-color: $color;
                }
            }

            div {
                height: 200px;
                width: 200px;
            }

*/
/* ------------------------------------- */
/* Step 7 

            $i: 1;
            @while $i <= 5 {
                .text-#{$i} {
                font-size: 15px * $i;
                }
                $i: $i + 1;
            }

*/
/* ------------------------------------- */
/* Step 8 

            @import 'variables';

*/
/* ------------------------------------- */
/* Step 9 

            h3{
                text-align: center;
            }
            .info{
                width: 200px;
                border: 1px solid black;
                margin: 0 auto;
            }
            .info-important{
                @extend .info;
                background-color: magenta;
            }

*/
